<div class="page less-1439px">
    <div class="container">
        <div class="container-block">
            <div class="block-info">
                <div class="block-info-margin">
                    <div class="title-secondary primary-black"><span class="green-primary">ПУТЕШЕСТВУЙ</span> С НАМИ!
                    </div>
                    <div class="text-secondary primary-black">
                        Велосипед поможет Вам найти новые границы свободы
                        и увидеть этот мир совершенно другими глазами.
                        Начни свое путешествие прямо сейчас.
                    </div>
                    <app-button-type-1 [buttonText]="'GO!'" (mousedown)="openDialog()"></app-button-type-1>
                </div>
            </div>
            <div class="block-empty"></div>
        </div>
        <div class="container-block-bicycle">
            <div class="block-image block-image-bicycle"></div>
            <div class="block-text block-bg-white">
                <div class="block-info-margin">
                    <div class="block-title">Велосипеды</div>
                    <div class="block-text-text">
                        У нас самый большой парк велосипедов
                        и мы подберем для Вас самый лучший
                        и подходящий велосипед. Ваш
                        велодруг уже ждет Вас и хочет
                        отправится вместе с Вами
                        в прекрасное велопутешесвтие.
                    </div>
                    <a href="#bicycles">
                        <app-arrow-details></app-arrow-details>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-block-tracks">
            <div class="block-image block-image-cyclist"></div>
            <div class="block-text block-bg-green">
                <div class="block-info-margin">
                    <div class="block-title">Велотур</div>
                    <div class="block-text-text">
                        Наши Велогиды откроют для Вас
                        более 10 прекрасных маршрутов
                        по Черноземью. Это одни из лучших
                        локаций нашего региона.
                        Путешествуй с нами,
                        путешествуй без границ.
                    </div>
                    <app-arrow-details (mousedown)="openDialog()"></app-arrow-details>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="page more-1440px">
    <div class="container">
        <div class="container-block">
            <div class="block-info">
                <div class="block-info-margin">
                    <div class="title-secondary primary-black"><span class="green-primary">ПУТЕШЕСТВУЙ</span><span class="no-wrap"> С НАМИ!</span>
                    </div>
                    <div class="text-secondary primary-black">
                        Велосипед поможет Вам найти новые границы свободы
                        и увидеть этот мир совершенно другими глазами.
                        Начни свое путешествие прямо сейчас.
                    </div>
                    <app-button-type-1 [buttonText]="'GO!'" (mousedown)="openDialog()"></app-button-type-1>
                </div>
            </div>
            <div class="block-empty"></div>
        </div>
        <div>
            <div class="container-block-bicycle">
                <div class="block-image block-image-bicycle"></div>
                <div class="block-text block-bg-white">
                    <div class="block-info-margin">
                        <div class="block-title">Велосипеды</div>
                        <div class="block-text-text">
                            У нас самый большой парк велосипедов
                            и мы подберем для Вас самый лучший
                            и подходящий велосипед. Ваш
                            велодруг уже ждет Вас и хочет
                            отправится вместе с Вами
                            в прекрасное велопутешесвтие.
                        </div>
                        <a href="#bicycles">
                            <app-arrow-details></app-arrow-details>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-block-tracks">
                <div class="block-image block-image-cyclist"></div>
                <div class="block-text block-bg-green">
                    <div class="block-info-margin">
                        <div class="block-title">Велотур</div>
                        <div class="block-text-text">
                            Наши Велогиды откроют для Вас
                            более 10 прекрасных маршрутов
                            по Черноземью. Это одни из лучших
                            локаций нашего региона.
                            Путешествуй с нами,
                            путешествуй без границ.
                        </div>
                        <app-arrow-details (mousedown)="openDialog()"></app-arrow-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>