<div class="page less-1439px">
    <div class="container">
        <div class="container-block">
            <div class="block-info">
                <div class="block-info-margin">
                    <div class="title-secondary primary-black">
                        <span class="green-primary">{{mainBlockTitle.green}}</span>
                        <span class="no-wrap">{{mainBlockTitle.black}}</span>
                    </div>
                    <div class="text-secondary primary-black">
                        {{mainBlockText}}
                    </div>
                    <app-button-type-1 [buttonText]="'GO!'" (mousedown)="openDialog()"></app-button-type-1>
                </div>
            </div>
            <div class="block-empty"></div>
        </div>
        <div class="container-block-bicycle">
            <div class="block-image block-image-bicycle"></div>
            <div class="block-text block-bg-white">
                <div class="block-info-margin">
                    <div class="block-title">
                        {{velBlockTitle}}
                    </div>
                    <div class="block-text-text">
                        {{velBlockText}}
                    </div>
                    <a href="#bicycles">
                        <app-arrow-details></app-arrow-details>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-block-tracks">
            <div class="block-image block-image-cyclist"></div>
            <div class="block-text block-bg-green">
                <div class="block-info-margin">
                    <div class="block-title">
                        {{tracksBlockTitle}}
                    </div>
                    <div class="block-text-text">
                        {{tracksBlockText}}
                    </div>
                    <app-arrow-details (mousedown)="openDialog()"></app-arrow-details>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="page more-1440px">
    <div class="container">
        <div class="container-block">
            <div class="block-info">
                <div class="block-info-margin">
                    <div class="title-secondary primary-black">
                        <span class="green-primary">{{mainBlockTitle.green}}</span>
                        <span class="no-wrap">{{mainBlockTitle.black}}</span>
                    </div>
                    <div class="text-secondary primary-black">
                        {{mainBlockText}}
                    </div>
                    <app-button-type-1 [buttonText]="'GO!'" (mousedown)="openDialog()"></app-button-type-1>
                </div>
            </div>
            <div class="block-empty"></div>
        </div>
        <div>
            <div class="container-block-bicycle">
                <div class="block-image block-image-bicycle"></div>
                <div class="block-text block-bg-white">
                    <div class="block-info-margin">
                        <div class="block-title">
                            {{velBlockTitle}}
                        </div>
                        <div class="block-text-text">
                            {{velBlockText}}
                        </div>
                        <a href="#bicycles">
                            <app-arrow-details></app-arrow-details>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-block-tracks">
                <div class="block-image block-image-cyclist"></div>
                <div class="block-text block-bg-green">
                    <div class="block-info-margin">
                        <div class="block-title">
                            {{tracksBlockTitle}}
                        </div>
                        <div class="block-text-text">
                            {{tracksBlockText}}
                        </div>
                        <app-arrow-details (mousedown)="openDialog()"></app-arrow-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>