<div class="page">
    <p class="title-main primary-white">
        Погрузитесь
        <span style="text-wrap: nowrap; white-space: nowrap;">в безграничный мир</span>
        велопутешествия
    </p>
    <p class="text-main primary-white">
        На комфортных и безопасных велосипедах
        по лучшим местам нашего региона!
    </p>
    <div class="row">
        <app-button-type-1 [buttonText]="'Начать'" (mousedown)="openDialog()"></app-button-type-1>
        <a href="#about">
            <app-button-type-2 [buttonText]="'Подробнее'"></app-button-type-2>
        </a>
    </div>
    <div class="row socials-line">
        <!-- <a class="socials tg" href="tg">
            <img src="../../../../assets/images/socials/telegram.svg">
        </a>
        <a class="socials ig" href="ig">
            <img src="../../../../assets/images/socials/instagram.svg">
        </a> -->
        <a class="socials" href="https://vk.com/vel.travel">
            <img src="../../../assets/images/socials/vk.svg">
        </a>
    </div>
</div>