<div class="page">
    <div class="text-block">
        <div class="title">
            Творческий сервис
            во время вашего
            велопутешествия
        </div>
        <div class="subtitle">
            Лучшие мастера своего дела позаботятся,
            чтобы ваш отдых был незабываемым.
        </div>
        <div style="margin-top: 24px;">
            <ul>
                @for (item of items; track item) {
                <li><span class="list">{{item}}</span></li>
                }
            </ul>
        </div>
        <div class="ps">И многое другое</div>
        <app-button-type-1 [buttonText]="'Смотреть все'" [routerLink]="['additive-service']"></app-button-type-1>
    </div>
    <img src="../../../assets/images/image_relaxation.jpg" alt="отдых" class="image">
</div>