<div class="page">
    <div class="text-block">
        <div class="title">отдых после велотура</div>
        <div class="subtitle">Мы можем организовать тематический отдых после заезда,
            а также предоставить такие услуги как:</div>
        <div style="margin-top: 24px;">
            <ul>
                @for (item of items; track item) {
                <li><span class="list">{{item}}</span></li>
                }
            </ul>
        </div>
        <div class="ps">Подробнее об услугах вы можете почитать в описание трека</div>
    </div>
    <img src="../../../assets/images/image_relaxation.jpg" alt="" class="image">
    <!-- <img src="../../../assets/images/table-in-the-field.jpg" alt="" class="image"> -->
</div>