<header>
    <a href="#"><img src="../../../../assets/images/vel_logo_light.svg" alt="vel" class="logo"></a>
    <nav>
        <a href="#about" class="heading no-wrap">О нас</a>
        <a href="#bicycles" class="heading">Велосипеды</a>
        <a href="#services" class="heading">Услуги</a>
        <a href="#contacts" class="heading">Контакты</a>
    </nav>
    <div class="icons-line no-wrap">
        <!-- <a><img src="../../../../assets/images/icons/icon_shop.svg" alt="" class="icon shop"></a> -->
        <!-- <a><img src="../../../../assets/images/icons/icon_user.svg" alt="" class="icon user"></a> -->
        <a href="tel:8 9060 963 963"><img src="../../../../assets/images/icons/icon_phone.svg" alt="" class="icon phone"></a>
    </div>
</header>