<div class="text-block">
    <div class="title">
        <span class="green-primary">Выбери</span>
        свой
        <img src="../../../assets/images/vel-logo-white.svg" class="vel-logo">
    </div>
    <div class="text">Cube - это одни из лучших велосипедов в мире.
        <br>Cube - это Ваш новый друг в велопутешествии.
    </div>
</div>

<div class="page">
    <swiper-container #swiper1 class="mySwiper">
        <swiper-slide *ngFor="let slide of slides">
            <div class="hero">{{slide.hero}}</div>
            <img [src]="slide.webp" [alt]="slide.hero" class="webp" />
            <img [src]="slide.png" [alt]="slide.hero" class="png" />
        </swiper-slide>
    </swiper-container>
    <app-button-vel-arrow [buttonText]="'Смотреть все'" routerLink="/bikes"></app-button-vel-arrow>
</div>