@import '../../styles/variables.less';

.breadcramps {
    margin-top: 106px;
    display: flex;
}

.arrow_breadcramps {
    width: 12px;
    height: 15px;
    background-image: url(../../../assets/images/arrows/arrow_breadcramps.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin: 0 12px;
}

a {
    color: @primary-white;
}

a:hover,
a.a__active {
    color: @green-primary;
}