@import '../../../styles/variables.less';

@media screen {
    // switchtab
    .tab-holder {
        display: flex;
        padding: 4px;
        height: 45px;

        background-color: #4C4C4C;
        max-width: 1297px;
    }

    .tab {
        border: none;
        cursor: pointer;
        width: 50%;
        height: 100%;
        font-family: @Gilroy;
        font-size: 20px;
        font-weight: 500;

        display: flex;
        justify-content: center;
        align-items: center;

        background: transparent;
        color: @primary-white;
    }

    .tab-active {
        background-color: @green-primary;
        color: @primary-black;
    }
}

p.title {
    font-family: @CINEMAX;
    font-size: 32px;
    color: @primary-white;
    text-transform: uppercase;

    margin-top: 78px;
    margin-bottom: 32px;
}
