@import '../../../styles/variables.less';

mat-card {
    width: 80vw;
    max-width: 948px;
}

.title {
    background-color: #4C4C4C;
    padding: 24px;

    font-family: @CINEMAX;
    font-size: 24px;
    color: @primary-white;
    text-transform: uppercase;
}

table {
    margin: 40px 32px;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid #D5D7DD;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

thead {
    font-family: @Gilroy;
    color: @primary-black;
    font-size: 16px;
    font-weight: 700;
}

th {
    padding: 12px;
}

tbody {
    background-color: #E2FF99;
    font-family: @Gilroy;
    color: @primary-black;
    font-size: 16px;
}

td {
    padding: 10px;
    text-align: center;
}